PROGRAM_ID=3gGkKra1uhoDukSkFLCux8j3gkxoMdUjzMfHzLGKkyzk
ORACLE_RPC_URL=https://api.devnet.solana.com
ORACLE_GATEWAY_URL=http://localhost:4001
ORACLE_KEYPAIR_PATH=./oracle-keypair.json
ORACLE_INTERVAL_MINUTES=30
